.rosado {

    height:200px;
    width: 200px;
    background:#ee3e64;

  position: relative;
}

.celeste{
    height:200px;
    width: 200px;
    background:cyan;
    position: relative;
    left: 200px;
}

.verde{
    height: 200px;
    width: 200px;
    background:#b7d84b;
    
    position: relative;
}